In [1]:
#1.
fruits=[['jack','apple'],['orange','kiwi'],['dragon','grape']]
print(fruits[2][0])

dragon

In [6]:
#2
coordinates= ((0, 1), (2, 3), (4, 5))
print(coordinates[2][1])

5

In [7]:
#3
students= [('Alice', 23), ('Bob', 21)]
print(students[1][1])

21

In [8]:
#4
Nums= ([10, 20], [30, 40])
print(Nums[1][1])

40

In [11]:
#5
students=[
    {
        "name":"John",
        "age":23,
        "marks":50
    },
    {
        "name":"Samson",
        "age":24,
        "marks":60
    }
]
print(students[0].get("name"))

John

In [15]:
#6
subject_marks={
    "English":[50,60,70],
    "Maths":[40,68,80],
    "Science":[55,60,78]
}
print(subject_marks["Maths"][1])

68

In [18]:
#7
users={"alice":{
        "name":"Alice",
        "age":20,
        "marks":50
    },
    "John":{
        "name":"John",
        "age":30,
        "marks":66
    }
}
print(users["alice"])

{'name': 'Alice', 'age': 20, 'marks': 50}

In [19]:
#8
billing_history= [
    {
        "amount":"200",
        "status":"failed"
    },
    {
        "amount":"832",
        "status":"success"
    }
]
print(billing_history[1]["status"])

success

In [20]:
#9
billing_history= [
    {
        "amount":"200",
        "status":"failed"
    },
    {
        "amount":"832",
        "status":"success"
    }
]
print(billing_history[0]["amount"])

200

In [22]:
#10
List1=[("hyderabad",35),("Vizag",36),("Mumbai",37)]
print(List1[2][1])

37

In [24]:
#11
users={
    "John":[10,20,30],
    "Alex":[60,50,40],
    "Samson":[20,60,70]
}
print(users["Samson"][2])

70

In [25]:
#12
List2=[
    {
        "product":"TV",
        "price":55000
    },
    {
        "product":"Radio",
        "price":15000
    }
]
print(List2[1]["product"])

Radio

In [26]:
#13
List3=[("English",[10,20,30]),("Maths",[20,30,40]),("Science",[50,60,70])]
print(List3[2][1][1])

60

In [28]:
#14
days={
    "Monday":("assignment","washing"),
    "Tuesday":("cleaning","cricket")
}
print(days["Monday"][0])

assignment

In [4]:
#15
Student_Marks=[
    {
        "John":{
            "English":50,
            "Maths":60
        }
    },
    {
        "Alex":{
        "Maths":70,
        "Englishs":60
    }
    }
]
print(Student_Marks[0]["John"]["Maths"])

60